.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  