
.parent {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 700px;
}
.container {
    display: flex;
    flex-direction: column;
    gap : 4px; 
}
.flex {
    padding : 3px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto 0;
    gap : 10px;
}
